<div class="z-11 flex flex-col bg-base-200 m-2 rounded shadow">
  <div class="z-[100] w-full max-w-[150px] sticky">
    
  </div>
  
  <div class="flex-1">
    <div>
      <ul class="menu text-base-content">
        <!-- Sidebar content here -->
        <li>
          <a href="<%=  %>">
            Models
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex-none">
    <ul class="menu text-base-content mt-96">
      <!-- Sidebar content here -->
      <li>
        <a href="<%= preferences_path(current_user) %>">
          Account
        </a>
      </li>
    </ul>
  </div>
</div>
